<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='create.css'>
</head>
<body>
    <div class="login">
        <h1>Sign In</h1>
        <form action="/home" method="post">
            <div class="child">
                <input type="email" name="email" placeholder="E-mail" class="mail"><br>
                <input type="password" name="password" placeholder="Password" class="password">
                <button type="submit" class="sign">Log In</button>
            </div>
        </form>
        <form action="/signup" method="get">
        <button type="submit" class="log">Create Accound ?</button>

        </form>
        </form>
    </div>
</body>
</html>