<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>

<body>
    <div class="main">
        <h1>Register</h1><br><br><br>
        <form action="/signUp" method="post">
            <div class="child">
                <input name="firstName" type="text" class="fname" placeholder="First Name" required><br>
                <input name="seconName" type="text" class="lname" placeholder="Last Name" required><br>
                <input name="number" type="number" class="number" placeholder="Phone Number" required><br>
                <input name="email" type="email" class="email" placeholder="E-mail" required><br>
                <input name="password" type="password" class="password" placeholder="Password" required><br>
                <input type="password" name="Conformpassword" class="cpassword" placeholder="Conform Password" required>
                <input type="submit" class="submit" >
            </div> 
        </form>    
    </div>
    <script src="js/p.js"></script> 
</body>

</html>